@use '../../scss/_colors.scss';
@use '../../scss/breakpoints';

.home {
  .header {
    margin-top: 10%;
    .home-header {
      .home-header-title {
        margin-left: 12%;
        .hello-title-blue {
          color: colors.$blue;
        }
        .hello-title-line {
          border-bottom: 5px solid colors.$blue;
        }
      }
      .home-robot-image {
        display: flex;
        justify-content: center;
        margin-top: 20%;
        .robot-image-element {
          width: 250px;
        }
      }
    }

    .home-welcome-message {
      margin-top: 15%;
      width: 80%;
    }
  }

  .section-start {
    .section-start-landing {
      display: none;
    }
    .section-start-button {
      margin-top: 10%;
      display: flex;
      justify-content: center;
    }
  }
}

@media (min-width: breakpoints.$md) {
  .home {
    .header {
      .home-header {
        display: flex;
        flex-wrap: wrap;
        .home-header-title {
          display: inline-block;
          height: fit-content;
          margin-left: auto;
          font-size: 2rem;
        }
        .home-robot-image {
          margin-top: 0;
          margin-left: 20px;
          margin-right: auto;
          .robot-image-element {
            width: 320px;
          }
        }
        .home-welcome-message {
          font-size: 1.1rem;
          width: 50%;
        }
      }
    }
    .section-start {
      display: flex;
      margin-top: 40px;
      justify-content: space-evenly;
      .section-start-landing {
        display: initial;
        width: 200px;
      }
      .section-start-button {
      }
    }
  }
}

@media (min-width: breakpoints.$lg) {
  .home {
    display: flex;
    align-items: center;
    .header {
      margin-top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%;
      .home-header {
        .home-header-title {
          font-size: 2.2rem;
          margin-left: 80px;
          .hello-title-blue {
          }
          .hello-title-line {
          }
        }
        .home-robot-image {
          .robot-image-element {
            width: 400px;
          }
        }
      }

      .home-welcome-message {
        margin-top: 40px;
        display: flex;
        justify-content: center;
      }
    }

    .section-start {
      flex-direction: column;
      margin-left: 40px;
      .section-start-landing {
      }
      .section-start-button {
        margin-top: 40px;
      }
    }
  }
}
