@use './scss/colors';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: colors.$grey;
}

h2 {
  font-size: 18px;
}
