@use '../../../scss/breakpoints';

.nav-container {
  width: 100%;
  .logo-container {
    display: none;
  }
  .nav-element {
    .nav-list-element {
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      .nav-list-item-element {
        margin: 3%;
      }
    }
  }
}

@media (min-width: breakpoints.$md) {
  .nav-container {
    flex-direction: column;
    align-items: center;
    height: 250px;
    .logo-container {
      display: flex;
      justify-content: center;
    }
  }
}

@media (min-width: breakpoints.$lg) {
  .nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: initial;
    .logo-container {
      display: initial;
    }
    .nav-element {
      width: 40%;
      .nav-list-element {
        justify-content: end;
      }
    }
  }
}

@media (min-width: breakpoints.$xxl) {
  .nav-container {
    margin-bottom: 80px;
    justify-content: space-evenly;
  }
}
